<mat-toolbar color="white">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>Weather</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list>
            <a routerLink="/weather" mat-list-item>Main</a>
            <a routerLink="/widget" mat-list-item>Widget</a>
          </mat-nav-list>          
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 93vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>