.weather__container {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.weather__title {
    font-size: 24px;
    font-size: bold;
}

.weather__temperature {
    font-size: 36px;
    margin-top: 10px;
}

.weather__description {
    font-size: 18px;
    margin-top: 18px;
}
