<mat-card class="settings__card">
    <section class="settings__section">
        <h1 class="title">Settings</h1>
        <form
                class="settings">
            <div class="settings__item">
                <h3 class="settings__name">
                    <mat-icon>brightness_4</mat-icon>
                    Dark mode
                </h3>
                <div class="settings__props">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
        </form>
    </section>
</mat-card>
