.settings__card {
  margin: 25px 15px;
}

.title {
  font-size: 26px;
  font-weight: bold;
}

.settings {
  margin-top: 25px;

  &__section {
    padding: 25px;
  }

  &__item {
    margin-top: 25px;
    display: flex;
  }

  &__props {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    display: flex;
    align-items: center;

    width: 20%;
    gap: 10px;
  }
}
